// External Shadow
@mixin neumorphism {
  background-color: $alabaster;
  box-shadow: inset -10px -10px 20px #c0bbb5,
              inset 10px 10px 20px #ffffff,
              2px 2px 4px #ccc7c0,
              -2px -2px 4px #ffffff;
}

// Internal Shadow On Hover
@mixin shadow-on-hover {
  box-shadow: inset 10px 10px 20px #c0bbb5,
              inset -10px -10px 20px #ffffff,
              -2px -2px 4px #ccc7c0,
              2px 2px 4px #ffffff;
  transition: $transition-medium;
  transform: $translate-rotate;
}

// Internal Shadow
@mixin internal-shadow {
  background-color: $alabaster;
  box-shadow: inset 5px 5px 10px #c0bbb5,
              inset -5px -5px 10px #ffffff,
              -1px -1px 2px #ccc7c0,
              1px 1px 2px #ffffff;
}

// Buttons, inputs
@mixin button-input-style {
  color: $chinese-black;
  @include neumorphism;
  padding: 10px 20px;
  margin: 0 0.5em 1em;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: $transition-medium;
  will-change: box-shadow, transform;
}

// Create Triangles  
@mixin triangles {
  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all $transition-medium ease;
  }
  
  .top-left {
    border-top: 150px solid $blue-sapphire;
    border-right: 150px solid transparent;
    left: -150px;
    top: -150px;
  }
  
  .bottom-right {
    border-bottom: 50px solid $blue-sapphire;
    border-left: 50px solid transparent;
    right: -50px;
    bottom: -50px;
  }
}

// Triangles Appear On Hover
@mixin triangles-appear {
  &:hover {
    .triangle {
      opacity: 1;
    }

    .top-left {
      left: 0;
      top: 0;
      border-top-left-radius: 25px;
    }

    .bottom-right {
      right: 0;
      bottom: 0;
      border-bottom-right-radius: 25px;
    }
  }
}