// Create Triangles  
@mixin triangles {
  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .top-left {
    // OLD
    border-top: 150px solid $blue-sapphire;
    border-right: 150px solid transparent;
    left: -150px;
    top: -150px;

    // NEW
    // border-top: 75px solid hsl(188deg, 58%, 27%);
    // border-right: 250px solid transparent;
    // left: -75px;
    // top: -250px;
  }
  
  .bottom-right {
    // OLD
    border-bottom: 50px solid $blue-sapphire;
    border-left: 50px solid transparent;
    right: -50px;
    bottom: -50px;

    // NEW
    // border-bottom: 75px solid $blue-sapphire;
    // border-left: 250px solid transparent;
    // right: -250px;
    // bottom: -75px;
  }
}

// Triangles Appear On Hover
@mixin triangles-appear {
  &:hover {
    .triangle {
      opacity: 1;
    }

    .top-left {
      left: 0;
      top: 0;
      border-top-left-radius: 25px;
    }

    .bottom-right {
      right: 0;
      bottom: 0;
      border-bottom-right-radius: 25px;
    }
  }
}