//////////////// BASE ////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  overflow-x: hidden;
}

// .wrapper {
//   font-size: 1.0625em; // 17px;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: $ruddy-pink;
  z-index: 5;
}

h1 {
  font-size: 2em; // 32px
}

h2 {
  font-size: 1.8125em; // 29px
}

h3 {
  font-size: 1.625em; // 26px
}

h4 {
  font-size: 1.4375em; // 23px
}

p {
  color: $chinese-black;
  margin: 1em 0;
}

.required {
  color: $ruddy-pink;
}

.wpcp-carousel-section .swiper-button-prev, 
.wpcp-carousel-section .swiper-button-next {
  z-index: 1 !important;
}

//////////////// SECTION ////////////////
section {
  position: relative;
  width: 90%;
  // color: $nickel;
  @include neumorphism;
  padding: 1em;
  margin: 1em auto 3em;
  border-radius: 25px;
  overflow: hidden;
}

//////////////// LINKS ////////////////
a {
  &.needle-link,
  &.comment-reply-link,
  &#cancel-comment-reply-link {
    text-decoration: none;
    color: $blue-sapphire;
    position: relative;
    padding-bottom: 0.35em;
  
    .needle {
      position: absolute;
      bottom: 0;
      left: 100%;
      font-size: 25px;
      margin-left: 0.25em;
      color: $ruddy-pink;
      transform: rotate(-15deg);
      opacity: 0;
      transition: opacity 1.5s;
    }
  
    &:hover {
      color: $chinese-black;
      -webkit-text-stroke: 0.25px $chinese-black;
  
      .needle {
        opacity: 1;
      }
  
      &::after {
        transform: scaleX(1);
        width: 100%;
      }
    }
  
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 2px dashed $ruddy-pink;
      width: 0;
      margin-top: 20px;
      margin-left: 0;
      transform-origin: left bottom;
      transform: scaleX(0);
      transition: transform $transition-medium ease-out, width $transition-medium ease-out;
    }
  }

  // Alternate links style
  &.needle-link-alt {
    text-decoration: none;
    color: $alabaster;
    position: relative;
    padding-bottom: 0.35em;
  
    .needle {
      position: absolute;
      bottom: 0;
      left: 100%;
      font-size: 25px;
      margin-left: 0.25em;
      color: $ruddy-pink;
      transform: rotate(-15deg);
      opacity: 0;
      transition: opacity 1.5s;
    }
  
    &:hover {
      // color: $chinese-black;
      -webkit-text-stroke: 0.25px $alabaster;
  
      .needle {
        opacity: 1;
      }
  
      &::after {
        transform: scaleX(1);
        width: 100%;
      }
    }
  
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 2px dashed $ruddy-pink;
      width: 0;
      margin-top: 20px;
      margin-left: 0;
      transform-origin: left bottom;
      transform: scaleX(0);
      transition: transform $transition-medium ease-out, width $transition-medium ease-out;
    }
  }
}
    
// Tablet
@media screen and (min-width: $breakpoint-small) {
  section {
    width: 85%;
    padding: 1.5em;
  }
}
    
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  // .wrapper {
  //   font-size: 1.25em; // 20px
  // }

  h1 {
    font-size: 2.625em; // 42px
  }
  
  h2 {
    font-size: 2.4375em; // 39px
  }
  
  h3 {
    font-size: 2.25em; // 36px
  }
  
  h4 {
    font-size: 2.0625em; // 33px
  }

  section {
    width: 80%;
    padding: 2em;
    margin: 1em auto 3em;
  }

  // Zoom effect on carousels
  .wpcp-slide-image {
    overflow: hidden;
    cursor: zoom-in;
  
    img {
      object-fit: cover;
      transition: transform 0.8s;
      // cursor: pointer;
    }
  
    &:hover {
      img {
        transform: scale(1.3);
      }
    }
  }
}