//////////////// BASE ////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  width: 100%;
  text-align: center;
  color: $ruddy-pink;
  // text-shadow: 3px 3px 2px rgba(240, 234, 226, 0.5);
  z-index: 5;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  color: $ruddy-pink;
  // font-size: 1.5em;
}

p {
  color: $chinese-black;
  margin: 1em 0;
}

.required {
  color: $ruddy-pink;
}

//////////////// SECTION ////////////////
section {
  position: relative;
  width: 90%;
  // color: $nickel;
  @include external-shadow;
  padding: 1em;
  margin: 1em auto 3em;
  border-radius: 25px;
  overflow: hidden;
}

//////////////// LINKS ////////////////
a {
  &.needle-link,
  &.comment-reply-link,
  &#cancel-comment-reply-link {
    text-decoration: none;
    color: $blue-sapphire;
    position: relative;
    padding-bottom: 0.35em;
  
    .needle {
      position: absolute;
      bottom: 0;
      left: 100%;
      font-size: 25px;
      margin-left: 0.25em;
      color: $ruddy-pink;
      transform: rotate(-15deg);
      opacity: 0;
      transition: opacity 1.5s;
    }
  
    &:hover {
      color: $chinese-black;
      -webkit-text-stroke: 0.25px $chinese-black;
  
      .needle {
        opacity: 1;
      }
  
      &::after {
        transform: scaleX(1);
        width: 100%;
      }
    }
  
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 2px dashed $ruddy-pink;
      width: 0;
      margin-top: 20px;
      margin-left: 0;
      transform-origin: left bottom;
      transform: scaleX(0);
      transition: transform 0.5s ease-out, width 0.5s ease-out;
    }
  }

  // Alternate links style
  &.needle-link-alt {
    text-decoration: none;
    color: $alabaster;
    position: relative;
    padding-bottom: 0.35em;
  
    .needle {
      position: absolute;
      bottom: 0;
      left: 100%;
      font-size: 25px;
      margin-left: 0.25em;
      color: $ruddy-pink;
      transform: rotate(-15deg);
      opacity: 0;
      transition: opacity 1.5s;
    }
  
    &:hover {
      // color: $chinese-black;
      -webkit-text-stroke: 0.25px $alabaster;
  
      .needle {
        opacity: 1;
      }
  
      &::after {
        transform: scaleX(1);
        width: 100%;
      }
    }
  
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 2px dashed $ruddy-pink;
      width: 0;
      margin-top: 20px;
      margin-left: 0;
      transform-origin: left bottom;
      transform: scaleX(0);
      transition: transform 0.5s ease-out, width 0.5s ease-out;
    }
  }
}

//////////////// INPUTS/BUTTONS ////////////////
input {
  color: $chinese-black;
  @include external-shadow;
  // text-transform: capitalize;
  padding: 10px 20px;
  margin: 0 0.5em 1em;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  will-change: box-shadow, transform;

  &:hover {
    @include shadow-on-hover;
  }
}
    
// Tablet
@media screen and (min-width: $breakpoint-small) {
  section {
    width: 85%;
    padding: 1.5em;
  }

  //////////////// INPUTS/BUTTONS ////////////////
  input {
    padding: 12.5px 25px;
  }
}
    
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  section {
    width: 80%;
    padding: 2em;
    margin: 1em auto 3em;
  }

  //////////////// INPUTS/BUTTONS ////////////////
  input {
    padding: 15px 30px;
  }
}
  
// h1 {
//   width: 100%;
//   color: $;
//   text-transform: capitalize;
//   text-align: center;
//   font-size: 2em;
//   letter-spacing: 1.5px;
//   margin-bottom: 1em;
// }
  
// h2 {
//   width: 100%;
//   color: $;
//   font-size: 1.65em;
//   margin-bottom: 0.5em;
// }
  
// h3 {
//   width: 100%;
//   color: $;
//   font-size: 1.3em;
//   margin-bottom: 0.85em;
// }
  
// Tablet
// @media screen and (min-width: $breakpoint-small) {
//   h1 {
//     margin-bottom: 1.25em;
//   }
  
//   h2 {
//     margin-bottom: 0.75em;
//   }
  
//   h3 {
//     margin-bottom: 1em;
//   }
// }
  
// Desktop
// @media screen and (min-width: $breakpoint-medium) {
//   h1 {
//     margin-bottom: 1.5em;
//   }
  
//   h2 {
//     margin-bottom: 1em;
//   }
  
//   h3 {
//     margin-bottom: 1.15em;
//   }
// }