// @font-face {
//   font-family: "Balgor Regular";
//   src: url("/content/themes/maisonalibert/app/assets/fonts/Balgor.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Bodoni 72 Smallcaps Book";
//   src: url("/content/themes/maisonalibert/app/assets/fonts/Bodoni 72 Smallcaps Book.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Bodoni 72 Book";
//   src: url("/content/themes/maisonalibert/app/assets/fonts/bodoni-72-book.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

.wrapper {
  font-family: $font-family-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-title;
}

p {
  font-family: $font-family-content;
}

a {
  font-family: $font-family-content;
}

.skills {
  &__icon {
    span {
      font-family: $font-family-alt;
    }
  }
}

.options {
  .filter {
    button {
      font-family: $font-family-alt;
    }
  }

  .sort {
    div {
      &:first-child {
        p {
          font-family: $font-family-alt;
        }
      }

      &.dropdown {
        a {
          font-family: $font-family-alt;
        }
      }
    }
  }
}

.comments-area {
  .comment-respond {
    .comment-form {
      input[type="text"],
      input[type="email"],
      textarea {
        font-family: $font-family-content;
      }

      .form-submit {
        input[type="submit"] {
          font-family: $font-family-alt;
        }
      }
    }
  }
}