//////////////// ERRORS ////////////////
main {
  .errors {
    position: relative;
    width: 90%;
    // min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // color: $nickel;
    @include neumorphism;
    padding: 1em;
    margin: 1em auto;
    border-radius: 25px;
    overflow: hidden;

    h3 {
      margin-bottom: 2.5em;
      text-transform: initial;
    }

    h2 {
      font-size: 5em;
    }

    p {
      margin: 2.5em 0;
      text-align: center;
      font-size: 1.0625em; // 17px;
    }

    a {
      font-size: 1.0625em; // 17px;
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .errors {
      width: 70%;
      // min-height: 60vh;
      padding: 1.5em;
      margin: 2em auto;

      h3 {
        margin-bottom: 3em;
      }

      // h2 {
      //  font-size: 5em;
      // }

      p {
        margin: 3em 0;
      }
    }
  }
}
  
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    .errors {
      width: 40%;
      // min-height: 60vh;
      padding: 2em;
      margin: 3em auto;
    
      h3 {
        margin-bottom: 3.5em;
      }
    
      // h2 {
      //  font-size: 5em;
      // }
    
      p {
        margin: 3.5em 0;
        font-size: 1.25em; // 20px
      }

      a {
        font-size: 1.25em; // 20px
      }
    }
  }
}