//////////////// FOOTER ////////////////
footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: $alabaster;
  // background-color: $blue-sapphire;
  padding: 1em 1em 0.5em;
  z-index: 10;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   height: 0;
  //   width: 0;
  //   display: inline-block;
  //   border-bottom: 345px solid #1d616c;
  //   border-left: 1170px solid transparent;
  //   z-index: -1;
  // }

  &::before {
    content: '';
    position: absolute;
    top: -125px;
    left: 0;
    // display : inline-block;
    // width : 0;
    // height : 0;
    border-right : 160px solid transparent;
    border-bottom : 125px solid $blue-sapphire;
  }

  &::after {
    content: '';
    position: absolute;
    top: -125px;
    right: 0;
    // display : inline-block;
    // width : 0;
    // height : 0;
    border-left : 160px solid transparent;
    border-bottom : 125px solid $blue-sapphire;
  }
}
  
// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 1.5em;
  }
}
  
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  footer {
    padding: 1em 2em;
  }
}