//////////////// HEADER ////////////////
header {
  position: relative;
  width: 100%;
  background-color: $blue-sapphire;
  z-index: 10;
}
  
// Tablet
// @media screen and (min-width: $breakpoint-small) {
//   header {
//     padding: 0.5em 1.5em;
//   }
// }
  
// Desktop
// @media screen and (min-width: $breakpoint-medium) {
//   header {
//     padding: 1em 2em;
//   }
// }