//////////////// HEADER ////////////////
header {
  position: relative;
  width: 100%;
  // clip-path: polygon(100% 47%, 100% 0%, 0% 0%, 0% 100%);
  background-color: $blue-sapphire;
  // transition: clip-path 1s;
  z-index: 10;

  // Triangle On Header To Crop Background
  // .triangle {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   // display : inline-block;
  //   // width : 0;
  //   // height : 0;
  //   border-bottom : 150px solid $alabaster;
  //   border-left : 320px solid transparent;
  //   transition: border 1s;

  //   &.resized {
  //     border-bottom : 125px solid $alabaster;
  //     border-left : 270px solid transparent;
  //     transition: border 1s;
  //   }
  // }

  // Single Triangle On Header
  // .triangle {
  //   content: '';
  //   position: absolute;
  //   // display : inline-block;
  //   // width : 0;
  //   // height : 0;
  //   border-top : 125px solid $blue-sapphire;
  //   border-right : 160px solid transparent;
  //   border-left : 160px solid transparent;
  // }

  // Header Triangle Using Clip-Path
  // &.resized {
  //   clip-path: polygon(100% 18%, 100% 0%, 0% 0%, 0% 38%); 
  //   transition: clip-path 1s;
  // }

  // Linear Gradient On Backgound
  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background: linear-gradient(
  //     168deg,
  //     transparentize($blue-sapphire, 0),
  //     transparentize($blue-sapphire, 1)
  //   );
  //   z-index: -1;
  // }
}
  
// Tablet
// @media screen and (min-width: $breakpoint-small) {
//   header {
//     padding: 0.5em 1.5em;
//   }
// }
  
// Desktop
// @media screen and (min-width: $breakpoint-medium) {
//   header {
//     padding: 1em 2em;
//   }
// }