//////////////// MAIN ////////////////
main {
  position: relative;
  width: 100%;
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  padding: 2em;
  z-index: 10;
}
  
// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    padding: 2.5em;
  }
}
  
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    padding: 3em;
  }
}