/////////////// Navbar ///////////////
header {
  nav {
    width: 100%;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 25px 50px;
    z-index: 99;

    // Stitching effect
    border-bottom: 2px dashed $alabaster;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 0 0 6px $blue-sapphire, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  
    .logo {
      position: relative;
      width: 75px;
      height: auto;
      // top: 50%;
      // left: 50%;
      // transform: translateX(-50%);
      // transition: $transition-slow;
  
      a {
        img {
          width: 100%;
          height: auto;
          // transition: $transition-slow;
        }
      }
    }

    ///// Searchform /////
    .searchform {
      display: none;
    }
  
    ///// Menu Items /////
    .nav-links {
      position: absolute;
      top: 87px;
      right: 0;
      width: 100%;
      height: calc(100vh - 87px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // background: inherit;
      // background-color: $blue-sapphire;
      background-color: $alabaster;
      transform: translateX(100%);
      transition: transform $transition-medium ease-in;
      text-transform: capitalize;
  
      li {
        list-style: none;
        opacity: 0;
        padding-bottom: 2.5em;
        font-size: 1.0625em; // 17px;
  
        &:first-child {
          margin-top: -5em;
        }
  
        &:last-child {
          padding-bottom: 0;
        }
      }
  
      &.nav-active {
        transform: translateX(0%);
      }
    }
  
    ///// Menu Burger /////
    .burger {
      display: none;
      cursor: pointer;
  
      div {
        width: 35px;
        height: 5px;
        background-color: $alabaster;
        margin: 6px 0;
        transition: all 0.4s;
      }
    }
  
    /////// Sticky Mod ///////
    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      justify-content: space-between;
      background: inherit;
      // background-color: $blue-sapphire;
      padding: 0 15px;
  
      // .logo {
        // left: 0;
        // transform: translateX(0);
  
        // a {
          // img {
            // width: 55px;
            // height: 55px;
          // }
        // }
      // }

      ///// Searchform /////
      .searchform {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        color: $alabaster;
        background-color: $blue-sapphire;
        box-shadow: inset 5px 5px 10px #174e56, 
                    inset -5px -5px 10px #237482, 
                    -1px -1px 2px #174e56, 
                    1px 1px 2px #237482;
        transform: translateY(-2px) rotateX(5deg);
        padding: 0.25em;
        border-radius: 7px;

        input {
          width: 90%;
          background: transparent;
          color: $alabaster;
          font-size: 0.875em; // 14px
          border: none;
          outline: none;
          cursor: text;

          &::placeholder {
            color: $alabaster;
            opacity: 1;
          }

          // For IE10
          &:-ms-input-placeholder {
            color: $alabaster;
          }
        }

        button {
          width: 10%;
          background: transparent;
          color: $alabaster;
          font-size: 0.875em; // 14px
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
  
      ///// Menu Items /////
      .nav-links {
        li {
          &.current {
            a {
              color: $chinese-black;
          
              .needle {
                opacity: 1;
              }
          
              &::after {
                transform: scaleX(1);
                width: 100%;
              }
            
              &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                border-bottom: 2px dashed $ruddy-pink;
                width: 100%;
                margin-top: 20px;
                margin-left: 0;
                transform-origin: left bottom;
                transform: scaleX(1);
                transition: transform $transition-medium ease-out, width $transition-medium ease-out;
              }
            }
          }
        }
      }
  
      ///// Menu Burger /////
      .burger {
        display: block;
      }
    }
  }
}
  
// Tablet
@media screen and (min-width: $breakpoint-small) {
  header {
    nav {
      .logo {
        width: 100px;
        height: auto;
      }
        
      ///// Menu Items /////
      .nav-links {
        display: none;
      }
  
      ///// Menu Burger /////
      .burger {
        display: none;
      }
  
      /////// Sticky Mod ///////
      &.sticky {
        justify-content: space-between;
  
        // .logo {
          // a {
            // img {
              // width: 70px;
              // height: 70px;
            // }
          // }
        // }

        ///// Searchform /////
        .searchform {
          width: 30%;
          padding: 0.5em;
          border-radius: 7.5px;
        }
  
        ///// Menu Items /////
        .nav-links {
          position: unset;
          width: 50%;
          height: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          transform: translateX(0);
  
          li {
            opacity: 1;
            padding-bottom: 0;
              
            &:first-child {
              margin-top: 0;
            }

            &.current {
              a {
                color: $alabaster;
              }
            }
          }
        }
  
        ///// Menu Burger /////
        .burger {
          display: none;
        }
      }
    }
  }
}
  
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  header {
    nav {
      .logo {
        width: 125px;
        height: auto;
        // transition: 1s;
  
        // a {
          // img {
            // width: 150px;
            // height: 150px;
            // transition: 1s;
          // }
        // }
      }

      ///// Menu Items /////
      .nav-links {
        li {
          font-size: 1.25em; // 20px
        }
      }
  
      /////// Sticky Mod ///////
      &.sticky {
        // .logo {
          // a {
            // img {
              // width: 85px;
              // height: 85px;
            // }
          // }
        // }

        ///// Searchform /////
        .searchform {
          width: 30%;
          padding: 0.75em; 
          border-radius: 8px;

          input {
            width: 95%;
            font-size: 1.0625em !important; // 17px;
          }

          button {
            width: initial;
            font-size: 1.0625em !important; // 17px;
          }
        }
  
        ///// Menu Items /////
        .nav-links {
          width: 40%;
        }
      }
    }
  }
}