//////////////// WRAPPER ////////////////
.wrapper {
  width: 100%;
  background-color: $alabaster;
  overflow-x: hidden;
}
    
// Tablet
// @media screen and (min-width: $breakpoint-small) {
//   .wrapper {
//   }
// }
    
// Desktop
// @media screen and (min-width: $breakpoint-medium) {
//   .wrapper {
//   }
// }