//////////////// Best Sellers ////////////////
main {
  .best-sellers {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    padding: unset;
    border-radius: unset;

    &__content {
      margin: 1.5em 0;

      // p {
      //   text-align: center;
      // }
    }

    // &__items {
      
    // }

    &__cta {
      text-align: center;
      margin: 0 0 0.5em;
      font-size: 1.0625em; // 17px;
    }
  }
}
    
// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .best-sellers {
      &__content {
        margin: 1.75em 0;

        // p {
        //   text-align: justify;
        // }
      }

      // &__items {
      
      // }

      &__cta {
        margin: 0 0 0.75em;
      }
    }
  }
}
    
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    .best-sellers {
      &__content {
        margin: 2em 0;
      }

      // &__items {
      
      // }

      &__cta {
        margin: -3em 0 1em;
        font-size: 1.25em; // 20px
      }
    }
  }
}