//////////////// COMMENTS AREA ////////////////
main {
  .comments-area {
    &__summary {
      display: flex; 
      flex-direction: column;
      justify-content: space-between; 
      align-items: center;
      margin-top: 1.5em;

      .total-reviews-average {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;

        // h2 {
        //   #average_rating {
        //     margin: 1em 0;
        //   }
        // }

        .stars {
          // margin: 1em 0;
          font-size: 1.1875em; // 19px;

          i {
            color: $ruddy-pink;
            margin-right: 0.25em;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        h3 {
          // margin: 1em 0;

          #total_review {
            color: $chinese-black;
          }
        }
      }

      .reviews-details {
        width: 100%;
        margin: 1em 0;

        &__5,
        &__4,
        &__3,
        &__2, 
        &__1 {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 1.0625em; // 17px;

          .column {
            margin: 0.25em 0;

            &:nth-child(1) {
              display: flex;
              align-items: baseline;

              b {
                color: $chinese-black;
              }
  
              i {
                color: $ruddy-pink;
                margin-left: 0.25em;
              }
            }

            &:nth-child(2) {
              progress[value] {
                // Reset the default appearance
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
  
                // Dimensions
                width: 200px;
                height: 15px;
  
                // Get rid of default border in Firefox
                border: none;
  
                // Base
                @include internal-shadow;
                border-radius: 15px;

                // For IE10
                color: $ruddy-pink;
              }
  
              progress::-moz-progress-bar {
                background: $ruddy-pink;
                border-radius: 15px; 
              }
  
              // Style the container
              progress[value]::-webkit-progress-bar {
                @include internal-shadow;
                border-radius: 15px;
              }
  
              // Style the bar
              progress[value]::-webkit-progress-value {
                background-color: $ruddy-pink;
                border-radius: 15px; 
              }
            }

            &:nth-child(3) {
              color: $nickel;
            }
          }
        } 
      }

      .add-review {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;

        h3 {
          color: $chinese-black;
        }

        a {
          font-size: 1.0625em; // 17px;
        }
      }
    }

    .comment__list {
      list-style: none;
      margin-top: 3em;

      .comment {
        &.bypostauthor {
          .first-char {
            color: $blue-sapphire !important;
            background-color: $alabaster !important;
            border: solid 2px $blue-sapphire !important;
          }
        }

        .comment-body {
          display: flex;
          flex-direction: column;
          color: $chinese-black;
          @include internal-shadow;
          transform: $translate-rotate;
          // padding: 10px 20px;
          padding: 1em;
          margin: 0.5em 0 1.5em;
          border-radius: 15px;
          // cursor: pointer;

          .comment-author {
            width: fit-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            order: 2;
            margin: 0.25em 0;

            .first-char {
              width: 35px;
              height: 35px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $alabaster;
              background-color: $blue-sapphire;
              text-transform: uppercase;
              font-size: 2em;
              margin-right: 0.25em;
              border-radius: 8px;
            }

            .fn {
              margin-right: 0.5em;
              font-size: 1.0625em; // 17px;
            }

            span {
              font-size: 1.0625em; // 17px;
            }
          }

          .comment-meta {
            order: 1;
            text-align: end;
            margin-bottom: 0.75em;

            em {
              color: $nickel;
              font-size: 0.875em; // 14px
            }
          }

          .comment-rating {
            order: 3;
            margin: 0.25em 0;
            font-size: 1.1875em; // 19px;

            i {
              // color: #fd4;
              color: $ruddy-pink;
            }
          }

          p {
            order: 4;
            margin: 0.25em 0;
            font-size: 1.0625em; // 17px;
          }

          .reply {
            order: 5;
            margin-top: 0.75em;
            font-size: 1.0625em; // 17px;
          }
        }

        .children {
          list-style: none;
          margin-left: 50px;
        }

        .comment-respond {
          width: 90%;
          margin: 0 auto;

          h3 {
            small {
              margin-left: 0.5em;
              text-transform: initial;
              font-size: initial;

              #cancel-comment-reply-link {
                font-size: 1.0625em; // 17px;
              }
            }
          }

          .comment-form {
            p {
              &.comment-form-rating {
                display: none;
              }
            }
          }
        }
      }
    }

    .comment-respond {
      width: 90%;
      margin: 0 auto;

      .comment-form {
        display: flex;
        flex-direction: column;
  
        p {
          display: flex;
          flex-wrap: wrap;

          &.comment-notes {
            color: $nickel;
            font-style: italic;
            font-size: 0.875em; // 14px
          }
  
          &.comment-form-author {
            order: 1;
            font-size: 1.0625em; // 17px;

            label {
              margin-bottom: 0.5em;
            }

            input {
              width: 100%;
              color: $chinese-black;
              @include internal-shadow;
              transform: $translate-rotate;
              padding: 0.25em;
              border-radius: 7px;
              border: none;
              outline: none;
              cursor: text;
              font-size: 1.0625em; // 17px;
            }
          }
  
          &.comment-form-email {
            order: 2;
            font-size: 1.0625em; // 17px;

            label {
              margin-bottom: 0.5em;
            }

            input {
              width: 100%;
              color: $chinese-black;
              @include internal-shadow;
              transform: $translate-rotate;
              padding: 0.25em;
              border-radius: 7px;
              border: none;
              outline: none;
              cursor: text;
              font-size: 1.0625em; // 17px;
            }
          }

          &.comment-form-rating {
            order: 3;

            label {
              width: 100%;
              margin-bottom: 0.5em;
              font-size: 1.0625em; // 17px;
            }
  
            .commentratingbox {
              display: flex;
              flex-direction: row-reverse;

              input {
                display: none;
              }
    
              label {
                float: right;
                color: $nickel;
                margin-right: 0.25em;
                margin-bottom: 0;
                font-size: 2em;
                transition: all 0.2s ease;
              }
    
              input:not(:checked) ~ label:hover, 
              input:not(:checked) ~ label:hover ~ label,
              input:checked ~ label {
                // color: #fd4;
                color: $ruddy-pink;
              }
    
              // input#rating-5:checked ~ label {
              //   color: #fe7;
              //   text-shadow: 0 0 20px #952;
              // }
            }
          }
  
          &.comment-form-comment {
            order: 4;
            font-size: 1.0625em; // 17px;

            label {
              margin-bottom: 0.5em;
            }

            textarea {
              width: 100%;
              height: 20vh;
              color: $chinese-black;
              @include internal-shadow;
              transform: $translate-rotate;
              padding: 0.25em;
              border-radius: 7px;
              border: none;
              outline: none;
              resize: none;
              cursor: text;
              font-size: 1.0625em; // 17px;
            }
          }
  
          &.form-submit {
            order: 5;

            input {
              @include button-input-style;
              font-size: 0.875em; // 14px
              font-weight: 500;
              letter-spacing: 1.25px;
            
              &:hover {
                @include shadow-on-hover;
              }
            }
          }
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .comments-area {
      &__summary {
        margin-top: 2.25em;

        .total-reviews-average {
          width: 50%;

          // .stars {
          //   margin: 1em 0;
          // }
        }
  
        .reviews-details {
          width: 55%;
        }
  
        .add-review {
          width: 50%;
        }
      }
  
      .comment__list {
        margin-top: 4.5em;
  
        .comment {
          .comment-body {
            padding: 1.5em;
            margin: 0.75em 0 1.75em;
  
            .comment-author {
              margin: 0.5em 0;
  
              .first-char {
                width: 40px;
                height: 40px;
                // font-size: 2em;
                // margin-right: 0.25em;
                border-radius: 8.5px;
              }
            }
  
            .comment-meta {
              margin-bottom: 1em;
            }
  
            .comment-rating {
              margin: 0.5em 0;
            }
  
            p {
              margin: 0.5em 0;
            }
  
            .reply {
              margin-top: 1em;
            }
          }

          .comment-respond {
            width: 70%;
          }
        }
      }
  
      .comment-respond {
        width: 70%;

        .comment-form {
          p {
            &.comment-notes {
              .required-field-message {
                margin-left: 0.25em;
              }
            }

            &.comment-form-author {
              label {
                margin-bottom: 0.75em;
              }
  
              input {
                padding: 0.5em;
                border-radius: 7.5px;
              }
            }
    
            &.comment-form-email {
              label {
                margin-bottom: 0.75em;
              }
  
              input {
                padding: 0.5em;
                border-radius: 7.5px;
              }
            }
  
            &.comment-form-rating {
              label {
                margin-bottom: 0.75em;
              }
    
              .commentratingbox {
                label {
                  font-size: 2.5em;
                }
              }
            }
    
            &.comment-form-comment {
              label {
                margin-bottom: 0.75em;
              }
  
              textarea {
                padding: 0.5em;
                border-radius: 7.5px;
              }
            }

            &.form-submit {
              input {
                padding: 12.5px 25px;
              }
            }
          }
        }
      }
    }
  }
}
    
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    .comments-area {
      &__summary {
        flex-direction: row;
        margin-top: 1.5em;

        .total-reviews-average {
          width: 30%;

          .stars {
            // margin: 1em 0;
            font-size: 1.4375em; // 23px;
          }
        }
  
        .reviews-details {
          width: 35%;

          &__5,
          &__4,
          &__3,
          &__2, 
          &__1 {
            font-size: 1.25em; // 20px

            .column {
              margin: 0.5em 0;

              &:nth-child(2) {
                progress[value] {
                  width: 350px;
                  height: 20px;
                }
              }
            }
          } 
        }
  
        .add-review {
          width: 30%;

          a {
            font-size: 1.25em; // 20px
          }
        }
      }
  
      .comment__list {
        margin-top: 3em;
  
        .comment {
          .comment-body {
            padding: 2em;
            margin: 1em 0 2em;
  
            .comment-author {
              margin: 0.75em 0;
  
              .first-char {
                width: 45px;
                height: 45px;
                // font-size: 2em;
                // margin-right: 0.25em;
                border-radius: 9px;
              }

              .fn {
                font-size: 1.25em; // 20px
              }
  
              span {
                font-size: 1.25em; // 20px
              }
            }
  
            .comment-meta {
              margin-bottom: 1.25em;

              em {
                font-size: 1.0625em; // 17px;
              }
            }
  
            .comment-rating {
              margin: 0.75em 0;
              font-size: 1.4375em; // 23px;
            }
  
            p {
              margin: 0.75em 0;
              font-size: 1.25em; // 20px
            }
  
            .reply {
              margin-top: 1.25em;
              font-size: 1.25em; // 20px
            }
          }

          .comment-respond {
            width: 45%;

            h3 {
              small {
                #cancel-comment-reply-link {
                  font-size: 1.25em !important; // 20px
                }
              }
            }
          }
        }
      }
  
      .comment-respond {
        width: 45%;

        .comment-form {
          p {
            &.comment-notes {
              display: flex;
              flex-wrap: wrap;
              font-size: 1.0625em; // 17px;
            }
    
            &.comment-form-author {
              font-size: 1.25em; // 20px

              label {
                margin-bottom: 1em;
              }
  
              input {
                padding: 0.75em;
                border-radius: 8px;
                font-size: 20px !important; // 20px
              }
            }
    
            &.comment-form-email {
              font-size: 1.25em; // 20px

              label {
                margin-bottom: 1em;
              }
  
              input {
                padding: 0.75em;
                border-radius: 8px;
                font-size: 20px !important; // 20px
              }
            }
  
            &.comment-form-rating {
              label {
                margin-bottom: 1em;
                font-size: 1.25em; // 20px
              }
    
              .commentratingbox {
                label {
                  font-size: 3em;
                }
              }
            }
    
            &.comment-form-comment {
              font-size: 1.25em; // 20px

              label {
                margin-bottom: 1em;
              }
  
              textarea {
                padding: 0.75em;
                border-radius: 8px;
                font-size: 20px !important; // 20px
              }
            }

            &.form-submit {
              input {
                padding: 15px 30px;
                font-size: 1.0625em; // 17px;
              }
            }
          }
        }
      }
    }
  }
}