////////// Copyright //////////
footer {
  .copyright {
    width: 100%;
    text-align: center;
    margin-top: 0.75em;

    p {
      margin: 0;
      color: $alabaster;
      font-size: 0.75em; // 12px;
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    .copyright {
      margin-top: 0;
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  footer {
    .copyright {
      margin-top: 0;

      p {
        font-size: 1em; // 16px;
      }
    }
  }
}