//////////////// EVENTS ////////////////
main {
  .events {
    display: grid;
    /* grid-auto-flow: column dense; */
    grid-template-columns: repeat(1, [col] 90%);
    /* grid-template-rows: repeat(6, [row] 150px); */
    justify-content: space-evenly;
    margin-top: 2.5em;

    .event {
      position: relative;
      min-height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      color: $nickel;
      background-color: $alabaster;
      box-shadow: inset -10px -10px 20px #c0bbb5,
                  inset 10px 10px 20px #ffffff,
                  2px 2px 4px #ccc7c0,
                  -2px -2px 4px #ffffff;
      padding: 1em;
      margin-bottom: 1.5em;
      border-radius: 25px;
      overflow: hidden;
      @include triangles;
      @include triangles-appear;

      // &__content {

      // }

      &__date {
        text-align: center;
      }

      &__location {
        text-align: center;
      }

      &__price {
        p {
          color: $nickel;
        }
      }
    }
  }
}
    
// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .events {
      /* grid-auto-flow: column dense; */
      grid-template-columns: repeat(2, [col] 40%);
      /* grid-template-rows: repeat(4, [row] 150px); */

      .event {
        min-height: 50vh;
        padding: 1.5em;
        margin-bottom: 2em;

        &__date {
          p {
            margin: 1.25em 0;
          }
        }
  
        &__location {
          p {
            margin: 1.25em 0;
          }
        }
  
        &__price {
          p {
            margin: 1.25em 0;
          }
        }
      }
    }
  }
}
    
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    .events {
      /* grid-auto-flow: column dense; */
      grid-template-columns: repeat(3, [col] 27%);
      /* grid-template-rows: repeat(4, [row] 150px); */

      .event {
        min-height: 40vh;
        padding: 2em;
        margin-bottom: 5em;

        &__date {
          p {
            margin: 1.5em 0;
          }
        }
  
        &__location {
          p {
            margin: 1.5em 0;
          }
        }
  
        &__price {
          p {
            margin: 1.5em 0;
          }
        }
      }
    }
  }
}