//////////////// Filtering ////////////////
main {
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    margin: 2.5em 0 1.25em;

    .filter {
      button {
        @include button-input-style;
        text-transform: capitalize;
        font-size: 0.875em; // 14px
        font-weight: 500;
        letter-spacing: 1.25px;

        &:hover,
        &.selected {
          @include shadow-on-hover;
        }
      }
    }
  }
}
    
// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .options {
      margin: 3.5em 0 1.75em;
  
      .filter {
        button {
          padding: 12.5px 25px;
        }
      }
    }
  }
}
    
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  main {
    .options {
      justify-content: space-between;
      margin: 4.5em 0 2.75em;
  
      .filter {
        max-width: 80%;

        button {
          padding: 15px 30px;
          font-size: 1.0625em; // 17px;
        }
      }
    }
  }
}