////////// Links //////////
footer {
  .links {
    margin: 0.75em 0;

    li {
      list-style: none;
      font-size: 1.0625em; // 17px;
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    .links {
      margin: 1em 0;
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  footer {
    .links {
      margin: 1.25em 0;

      li {
        font-size: 1.25em; // 20px
      }
    }
  }
}