//////////////// PAGINATION ////////////////
main {
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    .page-numbers {
      display: flex;

      li {
        list-style: none;
        @include external-shadow;
        padding: 7.5px 15px;
        margin: 0 0.25em 0.5em;
        border-radius: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.5s;
        will-change: box-shadow, transform;

        a {
          color: $chinese-black;
          text-decoration: none;
        }

        &:hover,
        &:has(span[aria-current="page"]),
        &.actual {
          @include shadow-on-hover;
        }
      }
    }
  }
}
      
// Tablet
@media screen and (min-width: $breakpoint-small) {
  main {
    .pagination {
      .page-numbers {
        li {
          margin: 0 0.5em 0.75em;
        }
      }
    }
  }
}
    
// Desktop
// @media screen and (min-width: $breakpoint-medium) {
//   main {
//     .pagination {
//       .page-numbers {
//         li {
//           margin: 0 0.75em 1em;
//         }
//       }
//     }
//   }
// }