//////////////// SECTION ////////////////
section {
  color: $nickel;
  background-color: $alabaster;

  // Blue
  // box-shadow: inset -20px -20px 60px #19525c,
  //             inset 20px 20px 60px #21707c;

  // Beige
  box-shadow: inset -10px -10px 20px #c0bbb5,
              inset 10px 10px 20px #ffffff,
              2px 2px 4px #ccc7c0,
              -2px -2px 4px #ffffff;

  // Grey
  // box-shadow: inset -20px -20px 60px #626262,
  //             inset 20px 20px 60px #848484;

  // Black
  // box-shadow: inset -20px -20px 60px #0d1219,
  //             inset 20px 20px 60px #111821;

  // Pink
  // box-shadow: inset -20px -20px 60px #c0867d,
  //             inset 20px 20px 60px #ffb6a9;

  padding: 1.5em;
  margin: 1em 0 3em;
  border-radius: 25px;
}
    
// // Tablet
// @media screen and (min-width: $breakpoint-small) {
//   section {
//     padding: 2.5em;
//   }
// }
    
// // Desktop
// @media screen and (min-width: $breakpoint-medium) {
//   section {
//     padding: 3em;
//   }
// }