//////////////// SIMPLIFIED LOGO ////////////////
footer {
  .simplified-logo {
    width: 100px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}
      
// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    .simplified-logo {
      width: 125px;
      height: auto;
    }
  }
}
      
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  footer {
    .simplified-logo {
      width: 150px;
      height: auto;
    }
  }
}