//////////////// SIMPLIFIED LOGO ////////////////
footer {
  div {
    width: 50px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}
      
// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    div {
      width: 62.5px;
      height: auto;
    }
  }
}
      
// Desktop
@media screen and (min-width: $breakpoint-medium) {
  footer {
    div {
      width: 75px;
      height: auto;
    }
  }
}