////////// Social Media //////////
footer {
  .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.75em 0;

    h4 {
      text-transform: inherit;
    }

    li {
      margin: 0.5em 0.5em 0;
      list-style: none;

      div {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset -10px -10px 20px #174e56,
                    inset 10px 10px 20px #237482,
                    2px 2px 4px #174e56,
                    -2px -2px 4px #237482;
        padding: 7.5px 15px;
        border-radius: 8.5px;
        cursor: pointer;
        transition: $transition-medium;
        will-change: box-shadow, transform;
  
        &:hover {
          box-shadow: inset 10px 10px 20px #174e56,
                      inset -10px -10px 20px #237482,
                      -2px -2px 4px #174e56,
                      2px 2px 4px #237482;
          transition: $transition-medium;
          transform: translateY(-2px) rotateX(5deg);
        }

        a {
          color: $alabaster;
          font-size: 1.25em; // 20px
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $breakpoint-small) {
  footer {
    .social-media {
      width: 25%;
      margin: 1em 0;
  
      li {
        margin: 0.75em 0.75em 0;

        div {
          width: 45px;
          height: 45px;
          border-radius: 9px;
  
          a {
            font-size: 1.5625em; // 25px
          }
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: $breakpoint-medium) {
  footer {
    .social-media {
      width: initial;
      margin: 1.25em 0;
  
      li {
        margin: 1em 1em 0;

        div {
          width: 50px;
          height: 50px;
          border-radius: 9.5px;
  
          a {
            font-size: 1.875em; // 30px
          }
        }
      }
    }
  }
}