////////// Events //////////
header {
  .special-event {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    color: $alabaster;
    background-color: $ruddy-pink;
    font-size: 17px;
  
    &.finished {
      display: none;
    }
  
    a {
      margin: 0 15px;
      color: $alabaster;
      text-decoration: none;
      z-index: 8;
    }
  
    &__items {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      overflow-x: clip;
  
      &__single {
        padding: 0 15px;
        animation: scrollTxt 10s linear infinite;
  
        &:first-child {
          padding-left: 0;
        }
  
        &.active {
          animation: inherit;
        }
  
        strong {
          text-transform: uppercase;
        }
  
        i {
          margin: 0 5px;
        }
  
        span {
          text-transform: capitalize;
          display: inline-flex;
  
          p {
            margin-left: 5px;
  
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}